<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block links %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    {% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}">SoundSearch</a>
        </div>
        <ul>
            <a href="#">
                <li>Link spotify</li>
            </a>
            <a href="{{ url_for('register') }}">
                <li>Create an account</li>
            </a>
            <a href="{{ url_for('login') }}">
                <li>Sign in</li>
            </a>
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <footer>Copyright &copy; Luke Cheseldine</footer>
</body>
</html>