<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block links %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts/script.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/b189300f24.js" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{{ url_for('index') }}">SoundSearch</a>
        </div>

        <ul>
            <a href="{{ url_for('home') }}">
                <li>Home</li>
            </a>
            {% if not current_user.linked %}
                <a href="#">
                    <li>Link spotify</li>
                </a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">
                    <li>Log out</li>
                </a>
            {% else %}
                <a href="{{ url_for('register') }}">
                    <li>Create an account</li>
                </a>

                <a href="{{ url_for('login') }}">
                    <li>Sign in</li>
                </a>
            {% endif %}
        </ul>

    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}"">
                    <span>{{ message }}</span>
                    <button type="button" class="close">X</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer>Copyright &copy; Luke Cheseldine</footer>
</body>
</html>