{% extends "base.html" %}

{% block title %}SoundSearch{% endblock %}

{% block links %}{% endblock %}
{% block scripts %}{% endblock %}


{% block content %}
    <div class="hero">
        <div class="container">
            <a href="{{ url_for('login') }}">Log in</a>
            <a href="{{ url_for('register') }}">Create an account</a>
            <hr>
            <a href="{{ url_for('authorize') }}">
                <img src="{{ url_for('static', filename='img/spotify-logo.png') }}" alt="">Link Spotify account
            </a>
        </div>
    </div>
{% endblock %}
