{% extends "base.html" %}

{% block title %}SoundSearch{% endblock %}

{% block links %}{% endblock %}
{% block scripts %}{% endblock %}


{% block content %}
    
    <div class="hero">
        <div class="container">
            <form class="login-register" action="{{ url_for('login') }}" method="POST" autocomplete="off" autocapitalize="off">
                <h2>Log in</h2>
                <div>{{ form.email.label}} {{ form.email }}</div>
                <div>{{ form.password.label }} {{form.password}}</div>
                <button type="submit">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}