{% extends "base.html" %}

{% block title %}SoundSearch{% endblock %}

{% block links %}
    <link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% macro capitalize(text) %}
    {% set words = text.split(' ') %}
    {% for word in words %}
        {{ word[0]|upper}}{{word[1:] }}
    {% endfor %}
{% endmacro %}

{% block content %}
    
    <div class="hero">
        <h1>Recommendations for {{ capitalize(seed) }}</h1>
        <div class="recommendations">
            {% for recommendation in recommendations %}
    
                <div class="recommendation">

                    <h5 class="main-performer"><a href="{{ recommendation['url'] }}">{{ recommendation['performers'][0] }}</a></h5>
                    <a href="{{ recommendation['url'] }}"><img src="{{ recommendation['image'] }}" alt=""></a>
                    <span class="date">{{ recommendation['date'] }}</span>
                    <span class="venue">{{ recommendation['venue'] }}</span>

                </div>
            {% endfor %}
        </div>

        <div class="buttons">
                
            <a href="{{ url_for('followed_artists') }}">Back</a>

            <form action="{{ url_for('update_zipcode') }}">
                <div>
                    <label for="zipcode">Change zipcode</label>
                    <input type="text" placeholder="90210" name="zipcode" id="zipcode">
                </div>
                <button formmethod="POST" type="submit"><i class="fa-solid fa-magnifying-glass-location fa-2xl"></i></button>
            </form>

        </div>

    </div>

{% endblock %}